<list>
  <%= for name <- @cats do %>
    <hstack id={name}>
      <asyncimage src={"/images/cats/#{name}.jpg"} modifiers='[{"type": "frame", "width": 100, "height": 100}]' />
      <text><%= name %></text>
    </hstack>
  <% end %>
</list>

