<v-stack modifiers={[%{"type" => "navigation_title", "title" => @title}] |> Jason.encode!}>
  <async-image src={"/images/cats/#{@name}.jpg"} modifiers='[{"type": "frame", "width": 300, "height": 300}]' />
  <cat-rating score={@score} />
</v-stack>
