<VStack modifiers={navigation_title(@native, title: @name)}>
  <AsyncImage src={"/images/cats/#{@name}.jpg"} modifiers={frame(@native, width: 300, height: 300)} />
  <CatRating score={@score} />
</VStack>
