<vstack modifiers={[%{"type" => "navigation_title", "title" => @title}, %{"type" => "nav_favorite", "is_favorite" => @favorite}] |> Jason.encode!}>
  <asyncimage src={"/images/cats/#{@name}.jpg"} modifiers='[{"type": "frame", "width": 300, "height": 300}]' />
  <cat-rating score={@score} />
</vstack>
